extends layout

block content
  h1= title
  p Welcome to fwb89sugirdorj
  button(type='button', class='btn btn-secondary') Button  

  #target Display 

  script. 
    var  client_count = 0;
    function update(){
      client_count +=1;
      let element = document.getElementById(target);
      element.textContent = client_count;
      }